<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%# flash message %>
    <p><%= notice %></p>
    <%# current user is the logged in user %>
    <% if current_user  %>
      <%= button_to "Log out", destroy_user_session_path, :method => "delete" %>
    <% else  %>
      <%= link_to "Sign in ", new_user_session_path %>
    <% end  %>
  </body>
</html>
